version: '3'
services:
  backend:
    build:
      context: ./packages/backend
    ports:
      - "3001:3001"
    environment:
      SERVER_PORT: 3001
      KEYCLOAK_BASE_URL: http://keycloak:8080
      REALM: ecomerce
      CLIENT_ID: backend_cliente
      CLIENT_SECRET: 4hXDGLEgIqVzE6TqOyHqtacdve7MWJgm
    volumes:
      - ./packages/backend/.env:/app/.env
    depends_on:
      - keycloak
      - mongo
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/test
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.4
    command: start-dev
    volumes:
      - ./keycloak/themes:/opt/keycloak/themes
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  mongo_data:
  postgres_data: