/* body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

:root {
  --background: oklch(0.99 0.01 340);
  --foreground: oklch(0.15 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.15 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.15 0 0);
  --primary: oklch(0.15 0 0);
  --primary-foreground: oklch(0.98 0.01 340);
  --secondary: oklch(0.95 0.015 340);
  --secondary-foreground: oklch(0.15 0 0);
  --muted: oklch(0.96 0.01 340);
  --muted-foreground: oklch(0.5 0 0);
  --accent: oklch(0.94 0.02 340);
  --accent-foreground: oklch(0.15 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.92 0.01 340);
  --input: oklch(0.92 0.01 340);
  --ring: oklch(0.5 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.25rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
/* Repo clase react */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-purple: rgb(36, 4, 78);
  --secondary-purple: rgb(115, 71, 172);
  --primary-white: rgb(250, 250, 250);
  --primary-orange: rgb(254, 31, 2);
  --primary-gray: rgb(36, 36, 36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.link-no-style {
  all: unset;
  cursor: pointer;
  display: inline;
}

.link-no-style:hover,
.link-no-style:focus,
.link-no-style:active,
.link-no-style:visited {
  all: unset;
  cursor: pointer;
}